* {
    font-family: 'Courier New', Courier, monospace;
    color: darkgray;
}

* :hover {
    color: darkgray;
}

a {
    text-decoration: none;
    color: darkgray;
}

a :hover {
    text-decoration: none;
    color: darkgray;
}
